<details>
  <summary>Default output</summary>
  <app-simple-table [cols]="cols" [values]="users"></app-simple-table>
</details>

<details>
  <summary>External template output</summary>
  <app-simple-table [cols]="cols" [values]="users">
    <ng-template #body let-rowData let-columns="columns">
      <tr >
        <td [class]="'table__'+col.field" *ngFor="let col of columns" [ngSwitch]="col.type">
          <span *ngSwitchCase="'image'">
            <img [src]="rowData[col.field]">
          </span>

          <span *ngSwitchCase="'name'">
            {{rowData[col.field].first}} {{rowData[col.field].last}}
          </span>

          <span *ngSwitchDefault>{{rowData[col.field]}}</span>
        </td>
      </tr>
    </ng-template>
  </app-simple-table>
</details>

<details>
  <summary>Predefined template output</summary>
  <app-simple-table [cols]="cols" [values]="users" [body]="body">
    <ng-template #header>
      <tr><td [colSpan]="7">Nothing to see here, move along</tr>
    </ng-template>
  </app-simple-table>
</details>
