<ng-template #defaultHeaderTemplate let-columns>
  <tr>
    <th *ngFor="let col of columns">
      {{col.header}}
    </th>
  </tr>
</ng-template>

<ng-template #defaultBodyTemplate let-rowData let-columns="columns">
  <tr>
    <td *ngFor="let col of columns">
      {{rowData[col.field]}}
    </td>
  </tr>
</ng-template>

<p-table [columns]="cols" [value]="values">
  <ng-template pTemplate="header">
    <ng-container *ngTemplateOutlet="headerTemplate ? headerTemplate : defaultHeaderTemplate;context:{$implicit: cols}">
    </ng-container>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="values">
    <ng-container *ngTemplateOutlet="bodyTemplate ? bodyTemplate : defaultBodyTemplate;context:{$implicit: rowData, columns: cols}">
    </ng-container>
  </ng-template>
</p-table>
