/* You can add global styles to this file, and also import other style files */

$profile-image-s: 32px;
$width-table-xs: 80px;
$width-table-s: 120px;
$width-table-n: 200px;
$width-table-l: 280px;

th {
  text-align: left;
}

.table__picture { width: $width-table-xs; }
.table__company { width: $width-table-s; }
.table__name { width: $width-table-n; }
.table__email { width: $width-table-l; }
.table__age { width: $width-table-xs; }
.table__eyeColor { width: $width-table-xs; }
.table__balance { width: $width-table-l; }


.table__picture img {
  height: $profile-image-s;
  width: $profile-image-s;
}
